<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="common/head :: head_fragment(title = '会社概要', scripts = ~{::script}, links = ~{::link})">

<meta charset="UTF-8">


<style type="text/css">

</style>

</head>
<body>
	<div th:include="common/head :: frag_body"></div>
	<!-- th:include="ファイル名 :: フラグメント名" -->
	
	<div class="container">
	<h1>会社概要</h1>
		<table class="table">
			<tbody>
				<tr>
					<th class="table-success">会社名</th>
					<td>株式会社Spring</td>
				</tr>
				<tr>
					<th class="table-success">リーダー</th>
					<td>田原</td>
				</tr>
				<tr>
					<th class="table-success">設立</th>
					<td>2023年2月1日</td>
				</tr>
				<tr>
					<th class="table-success">資本金</th>
					<td>3億円</td>
				</tr>
				<tr>
					<th class="table-success">住所</th>
					<td>〒***-**** 谷畑さんのご自宅</td>
				</tr>
				<tr>
					<th class="table-success">TEL</th>
					<td>***-****-****</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>