<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="common/head :: head_fragment(title = 'Ｑ&amp;Ａ', scripts = ~{::script}, links = ~{::link})">

<meta charset="UTF-8">

<title>Ｑ&amp;Ａ</title>

<!--  style type="text/css">
.title-mg{
    margin-bottom : 10px;
}
</style -->

</head>
<body>
	<div th:include="common/head :: frag_body"></div>
	<!-- th:include="ファイル名 :: フラグメント名" -->
	<div class="container">
		<h1 class="title-mg">Ｑ&amp;Ａ</h1>
		<div class="accordion" id="accordionPanelsStayOpenExample">

			<div class="accordion-item">
				<h2 class="accordion-header" id="panelsStayOpen-headingOne">
					<button class="accordion-button" type="button"
						data-bs-toggle="collapse"
						data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true"
						aria-controls="panelsStayOpen-collapseOne">Ｑ：注文をキャンセルしたい
					</button>
				</h2>
				<div id="panelsStayOpen-collapseOne"
					class="accordion-collapse collapse show"
					aria-labelledby="panelsStayOpen-headingOne">
					<div class="accordion-body">
						<strong>Ａ：ご注文後10秒以内に当店へお電話いただき、運よく繋がりましたらキャンセル可能です。</strong> <br>※何らかの事情で繋がらず、10秒を過ぎちゃったらキャンセルはお承りできかねますねぇ。予めご了承下さい。
					</div>
				</div>
			</div>

			<div class="accordion-item">
				<h2 class="accordion-header" id="panelsStayOpen-headingTwo">
					<button class="accordion-button collapsed" type="button"
						data-bs-toggle="collapse"
						data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false"
						aria-controls="panelsStayOpen-collapseTwo">
						Ｑ：商品の発送時期を知りたい</button>
				</h2>
				<div id="panelsStayOpen-collapseTwo"
					class="accordion-collapse collapse"
					aria-labelledby="panelsStayOpen-headingTwo">
					<div class="accordion-body">
						<strong>Ａ：ご注文承り後、3ヵ月以内に発送致します。</strong> <br>※象は日本国内で飼育できかねますため、インドかアフリカへ移住していただくか、象使いのライセンスを取得くださいませ。
						<!-- オリンピックイヤーなんだなーと思っていただけると幸いです。鼻を長くしてお待ち下さい。 -->
					</div>
				</div>
			</div>

			<div class="accordion-item">
				<h2 class="accordion-header" id="panelsStayOpen-headingThree">
					<button class="accordion-button collapsed" type="button"
						data-bs-toggle="collapse"
						data-bs-target="#panelsStayOpen-collapseThree"
						aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
						Ｑ：お届け先を指定したい</button>
				</h2>
				<div id="panelsStayOpen-collapseThree"
					class="accordion-collapse collapse"
					aria-labelledby="panelsStayOpen-headingThree">
					<div class="accordion-body">
						<strong>Ａ：お客様情報に記載されたご住所へ送らせていただきます。</strong> <br>ご変更の際は、編集画面よりご変更をお願い致します。
					</div>
				</div>
			</div>

			<!-- 4 -->
			<div class="accordion-item">
				<h2 class="accordion-header" id="panelsStayOpen-headingFour">
					<button class="accordion-button collapsed" type="button"
						data-bs-toggle="collapse"
						data-bs-target="#panelsStayOpen-collapseFour"
						aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
						Ｑ：お届け日時を指定したい</button>
				</h2>
				<div id="panelsStayOpen-collapseFour"
					class="accordion-collapse collapse"
					aria-labelledby="panelsStayOpen-headingFour">
					<div class="accordion-body">
						<strong>Ａ：原則、お届け日時はご指定出来かねます。</strong> <br>ただし、弊社リーダーのバイアスがアゲアゲで「オッケー！」をゲットできた場合に限り、ご希望に添えるチャンスがあるかもしれませんし、ないかもしれません。
					</div>
				</div>
			</div>

			<!-- 5 -->
			<div class="accordion-item">
				<h2 class="accordion-header" id="panelsStayOpen-headingFive">
					<button class="accordion-button collapsed" type="button"
						data-bs-toggle="collapse"
						data-bs-target="#panelsStayOpen-collapseFive"
						aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
						Ｑ：配送業者を指定したい</button>
				</h2>
				<div id="panelsStayOpen-collapseFive"
					class="accordion-collapse collapse"
					aria-labelledby="panelsStayOpen-headingFive">
					<div class="accordion-body">
						<strong>Ａ：当店では配送業者のご指定は承っておりません。</strong> <br>※気まぐれでリーダーがママチャリでお届けに上がります。太ももの調子が整い次第、出発致しますので、暫くお待ち下さい。
					</div>
				</div>
			</div>

			<!--  6-->
			<div class="accordion-item">
				<h2 class="accordion-header" id="panelsStayOpen-headingSix">
					<button class="accordion-button collapsed" type="button"
						data-bs-toggle="collapse"
						data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false"
						aria-controls="panelsStayOpen-collapseSix">
						Ｑ：長期不在にしており、荷物が届かなかったため再送してほしい</button>
				</h2>
				<div id="panelsStayOpen-collapseSix"
					class="accordion-collapse collapse"
					aria-labelledby="panelsStayOpen-headingSix">
					<div class="accordion-body">
						<strong>Ａ：それってあなたの都合ですよねっ！！＼(^　^)／</strong>
					</div>
				</div>
			</div>

		</div>
	</div>
</body>
</html>
