<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>商品詳細</title>
<style type = "text/css">
table{border:none;}
h1{color:white;
background-color:black;
}
body{border:5px solid black;
}
.right{padding-left:1200px;
}
.design{font-size:36px;

}

</style>
</head>
<body>
<h1>商品詳細</h1>


<table align ="center" border ="1">
<tr>
<td> <img src = "counter.jpg" alt = "商品詳細ページへ" width="400" height="400">
</td>

<td class = "design"> 商品名： <br>\～ <br> <form action="https://www.shopmaker.jp/basic/order.cgi">
  
個数<select name="kosuu">
<option value="1">1</option>
<option value="2">2</option>
<option value="3">3</option>
<option value="4">4</option>
<option value="5">5</option>
<option value="6">6</option>
<option value="7">7</option>
<option value="8">8</option>
<option value="9">9</option>
<option value="10">10</option>
<option value="11">11</option>
<option value="12">12</option>
<option value="13">13</option>
<option value="14">14</option>
<option value="15">15</option>
</select>
<br> <input type="submit" value="購入">
</form>


説明文：</td>
</tr>
</table>



<a class= "right" href = "top.html">TOPへ戻る</a>
</body>
</html>