<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="common/head :: head_fragment(title = '商品詳細', scripts = ~{::script}, links = ~{::link})">

<meta charset="UTF-8">

<style type="text/css">
.container {
	width: 800px;
	margin: 0 auto;
}

table {
	width: 750px;
	border: none;
	text-align: center;
}

.left_img {
	
}

.right_text {
	width: 350px;
	text-align: right;
}

.goods_name {
	font-size: 120%;
	color: #545454;
	font-weight: bold;;
}

.small_font {
	font-size: 15px;
}

.goods_price {
	color: #ff0000;
	font-size: 150%;
	font-weight: bold;
	padding: 20px 0;
}
</style>


</head>
<body>
	<div th:include="common/head :: frag_body"></div>
	<!-- th:include="ファイル名 :: フラグメント名" -->
	<div class="container">

		<!-- h1>商品詳細</h1 -->

		<table>
			<tbody>
				<tr>
					<td class="left_img">
						<!-- 画像表示 -->
						<div th:object="${goods}">
							<img th:src="@{|/images/${goods.image}|}" width="250"
								height="250" class="d-block mx-auto" th:alt="*{goods_name}" />
						</div> <!-- 画像ここまで -->

						<button class="carousel-control-prev" type="button"
							data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
							<span class="carousel-control-prev-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Previous</span>
						</button>

						<button class="carousel-control-next" type="button"
							data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
							<span class="carousel-control-next-icon" aria-hidden="true"></span>
							<span class="visually-hidden">Next</span>
						</button>
					</td>


					<td class="right_text"><br> <!-- 商品名、価格、説明文はDBからひっぱってくる -->
						<div th:object="${goods}">
							<p th:text="*{goods_name}">
								<font class="goods_name"></font>
							</p>
							<br> <br> <span class="goods_price"><font>価格</font></span>
							<font size="+2" color="red" th:text="*{price}"></font><font>円</font>
							<!--DB -->
							<font>(税込)</font>

							<div th:if="${goods.stock} > 0">
								<form th:action="@{/goods/purchased_1}"
									th:object="${orderRequest}" th:method="post">
									<label for="orderNum">個数:</label> <select id="orderNum"
										name="orderNum">
										<option th:each="i : ${#numbers.sequence(1, goods.stock)}"
											th:value="${i}" th:text="${i}">個</option>
									</select> <input type="hidden" th:field="${goods.price}"> <input
										type="hidden" th:field="${goods.goods_id}"> <input
										type="submit" value="　購入　" class="btn btn-primary">
								</form>
							</div>
							<div th:if="${goods.stock} <= 0">
								<p>
									<font size="+2" style="color: red">在庫なし</font>
								</p>
							</div>
							<!--DB -->
							<p th:text="*{detail}"></p>
						</div></td>
				</tr>
			</tbody>
		</table>
		<!-- a class="right" href="top.html">TOPへ戻る</a-->
	</div>
</body>
</html>