<!DOCTYPE html>
<html lang="jp" xmlns:th="http://www.thymeleaf.org">
<head th:replace="common/head :: head_fragment(title = '購入完了画面', scripts = ~{::script}, links = ~{::link})">

<!-- Bootstrap CSS -->
<meta charset="UTF-8">

</head>
<body>
<div th:include="common/head :: frag_body"></div><!-- th:include="ファイル名 :: フラグメント名" -->
	<h1 style="text-align: center; padding-top: 30px;">購入が完了しました</h1>
	
	<!-- 今回の購入商品情報表示 -->
	<div class="mx-5">
	<table class=" table table-bordered">
      <thead class="table-light">
        <tr>
          <th scope="col" style="width: 10%"><div class="text-center">購入日</div></th>
          <th scope="col" style="width: 20%"><div class="text-center">商品名</div></th>
          <th scope="col" style="width: 10%"><div class="text-center">単価</div></th>
          <th scope="col" style="width: 5%"><div class="text-center">個数</div></th>
          <th scope="col" style="width: 10%"><div class="text-center">合計金額</div></th>
        </tr>
      </thead>
      <tbody>
      <!-- 
        <tr th:each="sales : ${userlist}" th:object="${user}" th:object="${goods}" th:object="${sales}" class="align-middle">
        <td th:text="*{sales.order_date}"></td>
          <td th:text="*{goods.goods_name}"></td>
          <td th:text="*{goods.price}"></td>
          <td th:text="*{sales.order_num}"></td>
          <td th:text="*{sales.total}"></td>
        </tr>
         -->
         <tr align="center">
         <td th:text="*{sales.order_date}"></td>
          <td th:text="*{goods.goods_name}"></td>
          <td th:text="*{goods.price}"></td>
          <td th:text="*{sales.order_num}"></td>
          <td th:text="*{sales.total}"></td>
         </tr>
      </tbody>
    </table>
	</div>
</body>
</html>