<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="common/head :: head_fragment(title = 'top画面', scripts = ~{::script}, links = ~{::link})">

<meta charset="UTF-8">

<body>
	<div th:include="common/head :: frag_body"></div>
	<!-- th:include="ファイル名 :: フラグメント名" -->
	<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <a th:href = "@{/goods/goods/{id}(id=1)}"><img th:src="@{/images/counter_1.jpg}" width="500" height="500" class="d-block mx-auto" alt="..." ></a>
    </div>
    <div class="carousel-item">
      <a th:href = "@{/goods/goods/{id}(id=2)}"><img th:src="@{/images/daifuku_2.png}" width="500" height="500" class="d-block mx-auto" alt="..."></a>
    </div>
    <div class="carousel-item">
      <a th:href = "@{/goods/goods/{id}(id=3)}"><img th:src="@{/images/aomusi_1.jpg}" width="500" height="500" class="d-block mx-auto" alt="..."></a>
    </div>
    <div class="carousel-item">
      <a th:href = "@{/goods/goods/{id}(id=4)}"><img th:src="@{/images/paguland.jpg}" width="500" height="500" class="d-block mx-auto" alt="..."></a>
    </div>
    <div class="carousel-item">
      <a th:href = "@{/goods/goods/{id}(id=5)}"><img th:src="@{/images/elephant.png}" width="500" height="500" class="d-block mx-auto" alt="..."></a>
    </div>
    <div class="carousel-item">
      <a th:href = "@{/goods/goods/{id}(id=6)}"><img th:src="@{/images/pan.jpg}" width="500" height="500" class="d-block mx-auto" alt="..."></a>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

</body>
</html>
