<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="common/head :: head_fragment(title = 'top画面', scripts = ~{::script}, links = ~{::link})">

<meta charset="UTF-8">

<body>
	<div th:include="common/head :: frag_body"></div>
	<!-- th:include="ファイル名 :: フラグメント名" -->
	<div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="C:\Users\3030749\Desktop\食パン.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="C:\Users\3030749\Desktop\image_2023_2_14.png" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="C:\Users\3030749\Desktop\苺大福（断面）.png" class="d-block w-100" alt="...">
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

</body>
</html>