
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head
	th:replace="common/head :: head_fragment(title = 'ユーザー新規登録', scripts = ~{::script}, links = ~{::link})">

<meta charset="UTF-8">
<style type="text/css">
.mgr-32{
    margin-right : 32px;
}
</style>
<body>
	<h2>ログインしてください。</h2>

	<label for="email">メールアドレス：</label>
	<input type="email" name="email">
	<br>
	<label for="password"><span class="mgr-32">パスワード</span></label>：
	<input type="password" name="password">
	<button type="submit">ログイン</button>

	<br>
	<br> 新規登録はこちら>>
	<button type="submit">新規登録</button>
	</form>
</body>