<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.repository.UserMapper">
	<resultMap type="com.example.demo.entity.UserInfo" id="UserMap">
		<result column="user_id" jdbcType="INTEGER" property="user_id" />
		<result column="pw" jdbcType="VARCHAR" property="pw" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="birth" jdbcType="DATE" property="birth" />
		<result column="address" jdbcType="VARCHAR" property="address" />
		<result column="mail" jdbcType="VARCHAR" property="mail" />
		<result column="credit" jdbcType="VARCHAR" property="credit" />
	</resultMap>
	
	
	
	 <!-- 新規登録 -->
	<insert id="userInsert">
	INSERT INTO userinfo (pw,name,birth,address,mail,credit) values (#{pw},#{name},#{birth},#{address},#{mail},#{credit})
	</insert>
	
	 <!-- ログイン(pwとmailを受け取って、一致するものの件数を返す) -->
	<select id="selectLogin" resultType="Integer">
	SELECT user_id FROM userinfo WHERE mail = #{mail} AND pw = #{pw}
	</select>
	
	
	
	
	
<!-- ここからGoodsテーブル -->
	<resultMap id="GoodsMap" type="com.example.demo.entity.Goods">
		<result column="goods_id" jdbcType="INTEGER" property="goods_id" />
		<result column="goods_name" jdbcType="VARCHAR" property="goods_name"/>
		<result column="stock" jdbcType="INTEGER" property="stock" />
		<result column="price" jdbcType="INTEGER" property="price" />
		<result column="detail" jdbcType="VARCHAR" property="detail" />
	</resultMap>
	
	<!-- 商品詳細をselect -->
	<select id="selectGoods" resultMap="GoodsMap">
	SELECT goods_id,goods_name, stock, price, detail FROM goods WHERE goods_id = #{goods_id}
	</select>
	
	
	
	
	
	
	
</mapper>








